@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans';
  font-size: 20px;
  background-color: black;

}

html, body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}



.background
{
  background-image: url("../Images/Ships.png");
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.blur
{
   filter: blur(8px);
   opacity: .7;
  -webkit-filter: blur(8px);
}

.roundImage
{
  border-radius: 50%;
}



h1 {
  color: white;
}

p {
  color: white;

}

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    font-size: 20px;
}
div.profile {
    vertical-align: center;
    display: inline-block;
    text-align: center;
    width: 320px;
    font-size: 20px;
}
div.resume {
    vertical-align: center;
    display: inline-block;
    text-align: center;
    max-width: 125rem;
    font-size: 20px;
}
.caption {
    display: block;
}


img.edge
{
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.accordion {
    max-width: 75rem;
    --bs-accordion-bg: #212529; /* Change background color */
    --bs-accordion-color: white; /* Change text color */
    --bs-accordion-btn-color: white; /* Change button text color */
    --bs-accordion-active-color: white; /* ???*/
    --bs-accordion-active-bg: #15171a;
    --bs-carousel-transition-duration: .10s;
}

.container {
  column-width: 10em;
  column-rule: 1px solid rgb(75, 70, 74);
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.resize {
    width:100px;
    height:100px;
}